* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 100px;
    background-color: black;
}

header section.wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


header section.wrapper div.left {}


header section.wrapper div.left img {
    height: 50px;
}

header section.wrapper div.right {}

header section.wrapper div.right ul {
    display: flex;
    gap: 30px;

}

header section.wrapper div.right ul li {
    padding: 10px 20px;
}

header section.wrapper div.right ul li a {
    color: white;
    font-family: system-ui;
}

header section.wrapper div.right ul li:last-child a {
    color: black;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
}

#greenbg {
    background-color: green;
    height: 580px;
    padding: 80px 0;
}

#greenbg section.wrapper {}

#greenbg section.wrapper div.parent {
    display: flex;
    justify-content: space-between;
}


#greenbg section.wrapper div.parent div.left {
    width: 40%;
    font-family: system-ui;
}

#greenbg section.wrapper div.parent div.left h1 {
    font-weight: 700;
    font-size: 70px;
    color: white;
    margin-bottom: 60px;
}

#greenbg section.wrapper div.parent div.left a {
    font-weight: 600;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-radius: 20px;
}

#greenbg section.wrapper div.parent div.right {}

#greenbg section.wrapper div.parent div.right div.container {}


#greenbg section.wrapper div.parent div.right div.container img {
    height: 500px;



}

#about {
    margin-bottom: 50px;
}

#about section.wrapper {}

#about section.wrapper h1 {
    font-family: system-ui;
    font-size: 70px;
    font-weight: 700;
    padding: 50px;
    text-align: center;
    margin-bottom: 50px;
}

#about section.wrapper div.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}

#about section.wrapper div.container div.item {
    font-family: system-ui;
}






#about section.wrapper div.container div.item div {}

#about section.wrapper div.container div.item div img {
    height: 150px;
    margin-bottom: 20px;
}


#about section.wrapper div.container div.item h3 {
    margin-bottom: 20px;
    text-align: center;
}

#about section.wrapper div.container div.item p {
    font-weight: 480;
}

#green {
    background-color: green;
    font-family: system-ui;
    height: 250px;
}

#green section.wrapper {
    text-align: center;
    padding: 60px;
    font-size: 30px;
}

#green section.wrapper h1 {
    margin-bottom: 10px;
}

#faq {
    font-family: system-ui;
    text-align: center;
    height: 530px;
}

#faq h1 {
    text-align: center;
    padding: 30px;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#faq section.wrapper {
    width: 600px;
    margin: 0 auto;
}

#faq section.wrapper div.faqs {}

#faq section.wrapper div.faqs div.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#faq section.wrapper div.faqs div.item p {}

#faq section.wrapper div.faqs div.item img {
    height: 35px;

}

#faq section.wrapper div.faqs div.border {
    border-bottom: 1px solid grey;
    margin-top: 10px;


}

#download {
    background-color: green;
    font-family: system-ui;
    height: 250px;
}

#download section.wrapper {
    text-align: center;
    padding: 30px;
}

#download section.wrapper h1 {
    font-size: 45px;
    padding: 30px;
}

#download section.wrapper a {
    font-weight: 700;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-radius: 20px;
}

#contacts {
    background-color: black;
    height: 70px;
    display: flex;

}

#contacts section.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#contacts section.wrapper div.left {}

#contacts section.wrapper div.left ul {
    display: flex;
    gap: 30px;
    padding-top: 5px;


}

#contacts section.wrapper div.left ul li a {
    font-family: system-ui;
    color: white;

}

#contacts section.wrapper div.right {}

#contacts section.wrapper div.right p {
    font-family: system-ui;
    color: white;
    display: flex;

}


header section.wrapper i {
    color: white;
    font-size: 20px;
    display: none;
}


@media(max-width:942px) {
    header {
        width: 59rem;

    }

    header section.wrapper div.right {
        display: none;
    }

    #greenbg {
        width: 59rem;
    }

    #greenbg section.wrapper div.parent div.left h1 {
        font-size: 57px;
        display: flex;

    }


    #greenbg section.wrapper div.parent div.right div.container img {
        margin-left: 80px;
    }

    #about {
        width: 59rem;
    }

    #about section.wrapper div.container {}

    #green {
        width: 59rem;
    }

    #faq {
        width: 59rem;
    }

    #download {
        width: 59rem;
    }

    #contacts {
        height: 30vh;
        width: 59rem;
    }

    #contacts section.wrapper {
        display: block;
        font-size: 22px;
        margin: 5px 1px;
    }

    #contacts section.wrapper div.left {
        margin: 20px 0;
    }



    #contacts section.wrapper div.left ul {
        display: block;
    }

    #contacts section.wrapper div.left ul li a {
        /* margin: 20px 0; */
    }




    header section.wrapper i {
        display: block;
    }



}

@media(max-width:842px) {

    header {
        width: 63rem;

    }


    #greenbg {
        width: 63rem;
        height: 99vh;
    }


    #greenbg section.wrapper div.parent div.right div.container img {
        margin-top: 150px;
    }

    #greenbg section.wrapper div.parent div.left h1 {
        width: 53rem;
        text-align: center;
        margin-bottom: 200px;
    }

    #greenbg section.wrapper div.parent div.left a {
        font-size: 30px;
        margin-left: 60px;
    }

    #about {
        width: 63rem;
    }

    #about section.wrapper div.container {
        display: block;

    }


    #about section.wrapper div.container div.item p {
        display: flex;
        justify-content: center;


    }

    #green {
        width: 63rem;
    }

    #faq {
        width: 63rem;
    }

    #download {
        width: 63rem;
    }

    #contacts {
        width: 63rem;
    }

}